* {
    margin: 0;
}

body {
    font-size: 100%;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif
}

#page {
    max-width: 90%;
    margin: 0 auto;
    background-color: #D8CCAF;
}

#header {
    padding: 1em;
    background-color: #575757;
    color: #F0EBEB;
    text-align: center;
    font-size: 200%;
    letter-spacing: 0.187em;
}

#nav, #footer {
    height: 1.875em;
    background-color: #E49A2F;
    color: #F7F5EE;
    text-align: center;
    clear: both;
}

#nav ul {
    list-style-type: none;
    overflow: hidden;
}

#nav li {
    display: inline;
}

#nav li a {
    display: inline-block;
    color: white;
    text-decoration: none;
    padding: 5.5px 16px;
}

#nav a:hover:not(.active) {
    background-color: rgba(243, 198, 0, 0.952);

}

.active {
    background-color:#575757;

}

#content {
    background-color: #D8CCAF;
    width: 100%;
}

#content h1, #content h2 {
    font-size: 1.5rem;
    color: orange;
    margin: 0 auto;
    padding-left: 1em;
    padding-bottom: 0.75em ;
}

#content h2 {
    font-size: 1rem;

}

#content p {
    padding-bottom: 0.75em;
    padding-left: 0.5%;
}

#content-left, #content-right {
    width: 40%;
    background-color: #F7F5EE;
    border: 1px solid #AC9675;

    padding: 3em 1em;
    border-radius: 10px;

    margin-top: 2em;
    margin-bottom: 2em;
}

#content-left {
    float: left;
    margin-left: 3.5%;
}

#content-right {
    float: right;
    margin-right: 3.5%;
}

.kuva {
    width: 100%;
    height: auto;
}

#footer {
    font-size: smaller;
    padding-top: 6px;
}