body {
    background-color: #dad0c5;
    font-family: Verdana, sans-serif;
    text-align: center;
    margin-top: 0px;
    margin-bottom: 0px;
    margin-left: auto;
    margin-right: auto;
}

/* Sivuston yläosan tyylimäärittelyt, päättyy navipalkkiin */
.top_section {
    text-align: center;
    width: 1400px;
    background-color: rgb(223, 222, 214);
    padding: 15px;
    margin: auto;
}

.main_title {
    text-align: center;
    color:#006c9e;
    text-shadow: 2px 2px 4px #9b9b9b;
}

/* Navigointi-palkin tyylimuotoilut*/
.nav_bar {
    text-align: center;
    height: 40px;
    width: 1400px;
    background-color: rgb(199, 197, 197);
    padding: 15px;
    margin: auto;
    font-size: larger;
}

h1 {
    text-align: center;
    color: #006600;
}

h2 {
    text-align: center;
    color: #006600;
}

/* Vuorottelevien tekstilaatikoiden laatikkotyyli 1*/
.text_box_type1 {
    text-align: center;
    width: 1400px;
    background-color: rgb(223, 222, 214);
    padding: 15px;
    margin: auto;
}

/* Vuorottelevien tekstilaatikoiden laatikkotyyli 2*/
.text_box_type2 {
    text-align: center;
    width: 1400px;
    background-color: rgb(199, 197, 197);
    padding: 15px;
    margin: auto;
}

/* Linkkien tyylimäärittelyt */
a:link {
    color: #006600;
    background-color: transparent;
    text-decoration: none;
}

a:visited {
    color: teal;
    background-color: transparent;
    text-decoration: none;
}

a:hover {
    color: turquoise;
    background-color: transparent;
    text-decoration: none;
}

a:active {
    color: yellowgreen;
    background-color: transparent;
    text-decoration: underline;
}


/* Listojen tyylimäärittelyt, bulletinien keskitys laidalta */
.list-item {
    list-style-position: inside;
}

/* Alapalkin määrittelyt */
footer {
    margin: auto;
    width: 1400px;
    padding: 15px;
    background-color: rgb(255, 190, 129);
}